{% extends 'base.html.twig' %}


{% block styleCustom %}
	<style>
		select {
			display: block !important;
		}

		.tp-caption.boxshadow,
		.boxshadow {
			box-shadow: none !important;
		}

		/* Style pour les selects et inputs date */
		select.form-control,
		input[type="date"] {
			border: none;
			border-bottom: 1px solid #9b9b9b;
			border-radius: 0;
			outline: none;
			height: 3rem;
			font-size: 14px !important;
			padding: 0;
			box-shadow: none;
			box-sizing: content-box;
			transition: all 0.3s;
			background-color: transparent;
		}

		/* Style au focus */
		select.form-control:focus,
		input[type="date"]:focus {
			border-bottom: 1px solid #9b9b9b;
			box-shadow: 0 1px 0 0 #9b9b9b;
		}

		/* Style pour les labels */
		.input-field label {
			font-size: 14px;
			color: #9b9b9b;
		}

		/* Style pour les labels au focus */
		.input-field input[type="date"]:focus + label,
		.input-field select:focus + label {
			color: #9b9b9b !important;
		}

		/* Style pour le select pays */
		select.form-control option {
			color: #9b9b9b;
			background: #fff;
			padding: 5px;
		}
		.input-field label {
			font-size: 14px;
			color: #9b9b9b;
			transform: translateY(-14px); /* Déplace le label vers le haut */
			pointer-events: none; /* Evite les problèmes de clic */
		}

		/* Ajustement des marges pour éviter la superposition */
		.input-field {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}

		/* S'assurer que le label reste en haut quand le champ est rempli */
		.input-field input[type="date"]:not(:placeholder-shown) + label,
		.input-field select:not(:placeholder-shown) + label {
			transform: translateY(-14px);
		}
	</style>
{% endblock %}


{% block body %}
	<!-- Page Header-->
	<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="white-text">Your profile</h2>
					<span class="white-text">Personnal & Professionnal informations</span>
					<ol class="breadcrumb">
						<li>
							<a href="#!">Home</a>
						</li>
						<li class="active">Profile</li>
					</ol>
				</div>
			</div>
		</div>
	</section>


	<!-- Page Content-->
	<section class="gray-bg">
		<div class="container">
			<div class="row">
				<div class="score-container">
					<h4>
						<img src="{{ asset('img/s9bPVaK.gif') }}" style="height: 80px; width: 201px;">
						&nbsp;
																																																												                            &nbsp; Hooray ! Your profile is complete.
					</h4>
					<div class="c100 p100 small complete ">
						<span>100%</span>
						<div class="slice">
							<div class="bar"></div>
							<div class="fill"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section>

	{{ form_start(form, {
		'attr': {
			'id': 'candidateForm',
			'role': 'form',
			'data-parsley-validate': '',
			'enctype': 'multipart/form-data',
			'accept-charset': 'UTF-8'
		}
	}) }}
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<h3 class="text-extrabold">Your personal informations</h3>

				{# Gender #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="input-field">
						{{ form_widget(form.gender) }}
						{{ form_label(form.gender) }}
						{{ form_errors(form.gender) }}
					</div>
				</div>


				<div class="clearfix visible-sm"></div>

				{# First name #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div
						class="input-field">
						{{ form_widget(form.firstName) }}
						{{ form_label(form.firstName) }}
						{{ form_errors(form.firstName) }}
					</div>
				</div>

				{# Last name #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div
						class="input-field">
						{{ form_widget(form.lastName) }}
						{{ form_label(form.lastName) }}
						{{ form_errors(form.lastName) }}
					</div>
				</div>

				{# Current location #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div
						class="input-field">
						{{ form_widget(form.currentLocation) }}
						{{ form_label(form.currentLocation) }}
						{{ form_errors(form.currentLocation) }}
					</div>
				</div>

				{# Address #}
				<div class="col-xs-12 col-sm-8">
					<div
						class="input-field">
						{{ form_widget(form.address) }}
						{{ form_label(form.address) }}
						{{ form_errors(form.address) }}
					</div>
				</div>
			</div>
			<div
				class="row">

				{# Profil picture #}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="file-field input-field" style="margin-top: 32px;">
						<div class="btn btn-lg primary waves-effect waves-light">
							<span>
								<i class="material-icons">insert_photo</i>
								Photo</span>
							{{ form_widget(form.profilePictureFile) }}
							{{ form_label(form.profilePictureFile) }}
							{{ form_errors(form.profilePictureFile) }}
						</div>

						<img class="img-thumbnail" src="{{ asset('uploads/profile_pictures/' ~ candidate.profilePicture ) }}" alt="">

						<div class="existing-file">
							<a href="{{ asset('uploads/profile_pictures/' ~ candidate.profilePicture ) }}" target="_blank">
								<i class="material-icons">&#xE24D;</i>
								profil_picture.jpg</a>
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text" placeholder="Upload your ID photo" readonly>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-8">
					<div
						class="row">

						{# Country #}
						<div class="col-xs-12 col-sm-6">
							<div
								class="input-field">
								{{ form_widget(form.country) }}
								{{ form_label(form.country) }}
								{{ form_errors(form.country) }}
							</div>
						</div>


						<div class="col-xs-12 col-sm-6">
							<div
								class="input-field">
								{{ form_widget(form.nationality) }}
								{{ form_label(form.nationality) }}
								{{ form_errors(form.nationality) }}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-field">
								{{ form_widget(form.birthdate) }}
								{{ form_label(form.birthdate) }}
								{{ form_errors(form.birthdate) }}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="input-field">
								{{ form_widget(form.birthplace) }}
								{{ form_label(form.birthplace) }}
								{{ form_errors(form.birthplace) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-40">
				<h3 class="text-extrabold">Your professional profile</h3>
				<div class="col-xs-12 col-sm-6">

					<div class="card card-panel passport">
						<div class="file-field input-field">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">&#xE24D;</i>
									Passport</span>
								{{ form_widget(form.passportFile) }}
								{{ form_label(form.passportFile) }}
								{{ form_errors(form.passportFile) }}
							</div>
							<div class="existing-file">
								<a href="{{ asset('uploads/passports/' ~ candidate.passport ) }}" target="_blank">
									<i class="material-icons">&#xE24D;</i>
									passeport.jpg</a>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload your passport" readonly>
							</div>
						</div>

						<div class="file-field input-field">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">&#xE24D;</i>
									CV</span>
								{{form_widget(form.cvFile) }}
								{{form_label(form.cvFile) }}
								{{form_errors(form.cvFile) }}


							</div>

							<div class="existing-file">
								<a href="{{ asset('uploads/cvs/' ~ candidate.cv ) }}" target="_blank">
									<i class="material-icons">&#xE24D;</i>
									CV.pdf</a>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload your Curriculum Vitae" readonly>
							</div>
						</div>

					</div>
				</div>

				<div class="col-xs-12 col-sm-6">
					<div class="col-xs-12 col-sm-12">
						<div class="input-field" style="margin-top: 5px;">

							{{ form_widget(form.jobSector) }}
							{{ form_label(form.jobSector) }}
							{{ form_errors(form.jobSector) }}

						</div>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="input-field" style="margin-top: 5px;">
							
								{{ form_widget(form.experience) }}
								{{ form_label(form.experience) }}
								{{ form_errors(form.experience) }}
							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class="input-field">
						{{ form_widget(form.description)}}
						{{ form_label(form.description)}}
						{{ form_errors(form.description)}}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<h3 class="text-extrabold">Your K-Yachting account</h3>
				{{ form_start(passwordForm) }}
					<div class="col-xs-12 col-sm-4">
						<div class="input-field">
							<input id="email" type="email" value="{{ app.user.email }}" disabled>
							<label for="email">Email</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="input-field">
							{{ form_widget(passwordForm.newPassword.first) }}
							{{ form_label(passwordForm.newPassword.first) }}
							{{ form_errors(passwordForm.newPassword.first) }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="input-field">
							{{ form_widget(passwordForm.newPassword.second) }}
							{{ form_label(passwordForm.newPassword.second) }}
							{{ form_errors(passwordForm.newPassword.second) }}
						</div>
					</div>
				{{ form_end(passwordForm) }}
			</div>
			<div class="row">
				<div class="col-xs-12 mt-40 mb-80 delete-account">
					<a href="#!" onclick="return prompt('Please Type \'Delete my account\' to delete your K-Yachting Services account:') == 'Delete my account'" class="btn btn-block btn-lg waves-effect waves-light">
						<i class="material-icons">&#xE872;</i>Delete my account</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="#!" class="btn btn-block btn-lg border primary waves-effect waves-light">
						<i class="fa fa-long-arrow-left"></i>
						Back home</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
					<button type="submit" class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
						<span>
							<strong>UPDATE</strong>
							NOW</span>
					</button>
				</div>
			</div>

		</div>
	</section>
	{{ form_end(form) }}
{% endblock %}
