{% extends 'base.html.twig' %}

{% block title %}JobTitle{% endblock %}

{% block body %}
    <h1>JobTitle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_title.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ job_title.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_job_title_index') }}">back to list</a>

    <a href="{{ path('app_job_title_edit', {'id': job_title.id}) }}">edit</a>

    {{ include('job_title/_delete_form.html.twig') }}
{% endblock %}
